
<div class="w-50 p-3">
    <form action="create_user" method="post" class="d-flex flex-column w-75">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h2>Registracija</h2>
        <label class="w3-text-blue"><b>Vardas</b></label>
        <input name="name"  type="text" required>
        <label ><b>El. pastas</b></label>
        <input name="email" type="text" required>
        <label ><b>Slaptazodis</b></label>
        <input name="password" type="password" required>
        <label ><b>Pakartoti slaptazodi</b></label>
        <input name="password_confirmation" type="password" required><br>
        <button type ="submit" class="btn btn-primary w-50">Registruotis</button>
    </form>
<%=@msg%>
</div>

